body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 600px; /* Optional: Adjust the maximum width as per your preference */
    margin: 0 auto; /* This will center the container */
}

h1 {
    color: #333;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    font-size: 24px;
}

a:hover {
    color: #007bff;
}
